*{
    margin: 0;
    padding:0;
    font-family:'Times New Roman', Times, serif
    box-sizing: border-box;
    font-size: 30px;
} 
a{
    text-decoration: none;
    color: #e25f13ef;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(223, 75, 55, 0.932);
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.nav-left .logo{
    width: 60px;
    margin-right: 50px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 1000px;
}
.nav-left .AppName{
    width: 250px; 
    margin-left: 400px;
}
.nav-middle .travel{
    width: 250px;
}
.nav-middle .Profile1{
    width: 150px;
    margin-left: 700px;
}
/*--------------sidebar---------------*/

.sidebar{
    background: hwb(9 12% 14% / 0.87);
    width: 12%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 100px;
}
.shortcut-links a img{
    width: 90px;
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 50px;
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.shortcut-links a:first-child{
    color: #ed3833;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subscribd-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribd-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.subscribd-list a img{
    width: 15px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
/*-------main------*/
.container{
    background: #fffbfa;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.large-container{
    padding-left: 7%;
}
.SanJuanico{
    width: 60%;
    padding-left: 20%;
}
.SanJuanico img{
    width: 100%;
    border-radius: 50px;
    padding-left: 1%;
}
.mac-arthur{
    width: 100%;
    padding-left: 1%;
}
.mac-arthur img{
    width: 100%;
    border-radius: 50px;
    padding-left: 1%;

}
.mac-arthur .mac-arthur{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 30px;
    color: #000000;
}
.bucketlist{
    width: 90%;
}

.bucketlist img{
    width: 80%;
    padding-left: 20%;
}




}

